.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);
    border-radius: 50%;
    border: 2px dotted rgba(var(--text-color), 0.2);
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.1s ease-out;
}

.container:active:not(:has(.selector:hover, .deselector:hover)) {
    transform: scale(0.9);
}

.container > input {
    display: none;
}

.container > img {
    min-width: 100%;
    min-height: 100%;
}

.capture {
    font-size: 0.8rem;
    opacity: 0.7;
}

.selector, .deselector {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

.selector {
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.2rem 0;
    font-size: 0.6rem;
    text-align: center;
}

.deselector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 1rem;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 1.3rem;
    border-radius: 0 0 1rem 1rem;
}

.container:hover .selector,
.container:hover .deselector {
    opacity: 1;
}