.container {
    width: 2rem;
    border-radius: 1rem;
    background-color: rgba(var(--text-color), 0.1);
    cursor: pointer;
    transition: 0.1s ease-out;
}

.container.checked {
    background-color: rgb(var(--accent-color));
}

.container > div {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: rgb(var(--back-color));
    margin: 0.2rem;
    transition: 0.1s ease-out;
}

.container.checked > div {
    margin-left: 1rem;
}